.row
  .col-md-3
    = render :partial => "services/service_left", locals: { service: @service }

  .col-md-9#compose_chose
    = form_tag download_compose_service_path(@service) do
      %table.table
        %thead
          %th= t("app.name")
          %th= t("app.versions")
        %tbody
          - @apps.each do |app|
            %tr
              %td= app.name
              %td
                %label.btn.btn-sm.btn-default.btn-triangle-top-right.version-label
                  = app.current_version.name
                  = radio_button_tag "selected_versions[][#{app.id}]", app.current_version.id, true
                  = fa_icon("check-square")

                - (app.versions - [app.current_version]).each do |version|
                  %label.btn.btn-sm.btn-default.version-label{class: version == app.current_version ? "btn-triangle-top-right" : "" }
                    = version.name
                    = radio_button_tag "selected_versions[][#{app.id}]", version.id

      .actions
        = submit_tag t("common.download_compose"), class: primary_btn_helper, data: { confirm: t("common.confirm_download") }
