- content_for :custom_assets do
  = javascript_include_tag 'jquery-ui-flowchart'
  = stylesheet_link_tag "jquery-ui", :media => "all"

= javascript_tag do
  = render :partial => "services/chart.js", locals: { service: @service }

= box_helper "warning" do
  = box_header_helper "", :server
  = box_body_helper do
    - app = (@app || @service.apps.first)
    .col-md-8.col-lg-12
      .row
        .col-md-6
          = graphna_panel("docker-containers", $GRAPHNA_PANEL[:docker_container_running_containers][:id], 5.minutes, 600, 180)
        .col-md-6
          = graphna_panel("docker-containers", $GRAPHNA_PANEL[:docker_container_system_load][:id], 5.minutes, 600, 180)

= box_helper "warning" do
  = box_header_helper "", :server
  = box_body_helper do
    .row
      .col-md-12
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.active{role: 'presentation'}
            = link_to t('service.app_list'), '#app_list', role: 'tab', 'data-toggle': 'tab', 'aria-controls': 'app_list'
          %li
            = link_to t('service.app_chart'), '#app_chart', role: 'tab', 'data-toggle': 'tab', 'aria-controls': 'app_chart'
        .tab-content
          .tab-pane.active#app_list{role: 'tabpanel'}
            = render :partial => "apps/list", locals: { apps: @service.apps }
          .tab-pane#app_chart{role: 'tabpanel', style: "height: 600px;"}
            #chart{style: 'height: 400px'}
= render :partial => "permissions/list", locals: { permissions: @service.permissions, permission: @service.permissions.new, resource: @service }

= render :partial => "audits/list", locals: { audits: @service.audits }
