- content_for :custom_assets do
  = javascript_include_tag 'jquery-ui-flowchart'
  = stylesheet_link_tag "jquery-ui", :media => "all"

= javascript_tag do
  = render :partial => "services/chart.js", locals: { service: @service }

= box_helper "warning" do
  = box_header_helper t("common.statistics"), :server
  = box_body_helper do
    - app = (@app || @service.apps.first)
    .col-md-8.col-lg-12
      .row
        .col-md-12
          = docker_containers_graphna_panel $GRAPHNA_PANEL[:docker_container_container_cpu_usage][:id], @service.slug, "All",  5.minutes
        .col-md-12
          = docker_containers_graphna_panel $GRAPHNA_PANEL[:docker_container_container_mem_usage][:id], @service.slug, "All",  5.minutes
        .col-md-12
          = docker_containers_graphna_panel $GRAPHNA_PANEL[:docker_container_network_input][:id], @service.slug, "All",  5.minutes
        .col-md-12
          = docker_containers_graphna_panel $GRAPHNA_PANEL[:docker_container_network_output][:id], @service.slug, "All",  5.minutes

= box_helper "warning" do
  = box_header_helper t('nav.apps'), :server
  = box_body_helper do
    .row
      .col-md-12
        %ul.nav.nav-tabs{role: 'tablist'}
          %li.active{role: 'presentation'}
            = link_to t('service.app_list'), '#app_list', role: 'tab', 'data-toggle': 'tab', 'aria-controls': 'app_list'
          %li
            = link_to t('service.app_chart'), '#app_chart', role: 'tab', 'data-toggle': 'tab', 'aria-controls': 'app_chart'
        .tab-content
          .tab-pane.active#app_list{role: 'tabpanel'}
            = render :partial => "apps/list", locals: { apps: @service.apps }
          .tab-pane#app_chart{role: 'tabpanel', style: "height: 600px;"}
            #chart{style: 'height: 400px'}





= render :partial => "permissions/list", locals: { permissions: @service.permissions, permission: @service.permissions.new, resource: @service }
= render :partial => "audits/list", locals: { audits: @service.audits.page(params[:audit_page] || 1) }
