.row
  .col-md-3
    = link_to fa_icon(:plus) + " " + t('common.new_namespace'), new_namespace_path, class: 'btn btn-primary btn-danger btn-sm btn-block margin-bottom', data: { prompt: { title: t("common.new_namespace"), name: "owner", type: "choose_owner"} }, method: :get
    = render :partial => "namespaces/namespace_left", locals: { namespaces: @namespaces }
  .col-md-9
    = box_helper "warning" do
      = box_header_helper t("namespace.repositories"), :server
      = box_body_helper do
        = render :partial => "widgets/list_place_holder" if @repo_tags.empty?
        - if @repo_tags.present?
          %table.table
            %thead
              %th= t("namespace.repository_name")
              %th= t("namespace.repo_tags")

            %tbody
              - @repo_tags.each do |tag|
                %tr
                  %td= tag.name
                  %td




