= box_helper "success" do
  = box_header_helper t("node.all_nodes"), :server

  = box_body_helper do
    %ul.nav.nav-pills.nav-stacked
      - nodes.each do |node|
        %li{class: node == @node ? 'active' : ''}
          %a{href: node_path(node) }
            = fa_icon("inbox")
            = node.hostname
            %small.label.label-primary.pull-right 1

        %li
          %a{href: node_path(node) }
            = fa_icon("inbox")
            = node.hostname
            %small.label.label-primary.pull-right

        %li
          %a{href: node_path(node) }
            = fa_icon("inbox")
            = node.hostname
            %small.label.label-primary.pull-right
