= box_helper "solid" do
  = box_header_helper t("node.all_nodes"), "" do
    .box-tools.pull-right
      = button_tag class: 'btn btn-box-tool', data: { widget: 'collapse' } do
        = fa_icon(:plus)

  = box_body_helper do
    %ul.nav.nav-pills.nav-stacked
      - nodes.each do |node|
        %li{class: node == @node ? 'active' : ''}
          %a{href: node_path(node) }
            = fa_icon("inbox")
            = node.hostname
            %small.label.label-primary.pull-right 1
