%table{class: table_classes}
  %thead
    %td= t('active_record.host.name')
    %td= t('active_record.common.state')
    %td= t('active_record.common.ip')
    %td= t('active_record.common.cpu')
    %td= t('active_record.common.mem')
    %td= t('active_record.common.disk')

  %tbody
    - @nodes.each do |node|
      %tr
        %td= link_to node.hostname, node_path(node)
        %td= tag_label(node.state, :success)
        %td= node.hostname
        %td 2 core
        %td 1023M
        %td= node.state
        %td
          = link_to '容器', node_containers_path(node)
          = link_to '镜像', node_images_path(node)
          = link_to '网络', node_networks_path(node)
          = link_to '存储', node_volumes_path(node)

= paginate @nodes


