= render :partial => "nodes/chart", locals: { node: @node }
= render :partial => "nodes/node_info", locals: { node: @node }
= render :partial => "containers/list", locals: { node: @node }
= render :partial => "volumes/list", locals: { node: @node }

= link_to t("common.remove"), node_path(@node), data: { confirm: t("node.delete_confirm") }, method: :delete, class: 'btn btn-danger btn-flat btn-block'

