<div class="form-group" ng-class="{ 'has-error' : appForm.uris.$invalid && (appForm.uris.$dirty || submitted)}">
  <label for="uris" class="col-sm-2 control-label"><%= t("app.uri") %></label>
  <div class="col-sm-10">
    <table class="table table-bordered">
      <tr>
        <th><%= t('app.uri_path') %></td>
        <th></td>
      </tr>
      <tbody>
        <tr  ng-repeat="uri in app.uris">
          <td> <input type="input" class="form-control" name="uris" ng-model="uri" ng-required=true> </td>
          <td><a class="btn btn-default btn-sm" ng-click="removeUris($index)"><%= fa_icon(:minus)%> </a></td>
        </tr>
        <tr>
          <td colspan=5><a class="btn btn-default btn-sm" ng-click="moreUris()"><%= fa_icon(:plus)%> <%= t('app.new_uri') %> </a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p ng-show="appForm.uris.$invalid && (appForm.uris.$dirty || submitted)" class="help-block">You name is required.</p>
</div>
