.row
  .col-md-12.text-right
    = link_to fa_icon(:plus) + " " + t("common.new_group"), new_group_path, class: 'btn btn-primary'

.row
  .col-md-4.col-lg-2
    = render :partial => "group_left", locals: { groups: @groups }

  .col-md-8.col-lg-10#group_detail
    = render :partial => "groups/details/quota", locals: { group: @groups.first }
    = render :partial => "groups/details/users_for_default_group", locals: { group: @groups.first }
    = render :partial => "groups/details/edit_form", locals: { group: @groups.first }
    = render :partial => "groups/details/detail", locals: { group: @groups.first }
