= simple_form_for(user, url: group.present? ? group_users_path(group) : users_path, remote: true) do |f|
  = f.input :email, label: t("user.email"), hint: "admin@foobar.com", input_html: { autocomplete: 'new-email' }
  = f.input :password, as: :password, label: t("user.password"), hint: "", input_html: { autocomplete: 'nwe-password' }
  
  - if siteadmin_require
    = f.input :site_admin_accessor, as: :boolean, label: t("user.site_admin"), checked_value: true, unchecked_value: false

  - if groupadmin_require
    = f.input :group_admin_accessor, as: :boolean, label: t("user.group_admin"),  checked_value: true, unchecked_value: false

  .actions
    = f.button :submit, t('common.save'), class: btn_classes
