.row.margin-bottom
  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :green, num: Node.count, what_cn: "主机", what_en: "Host", icon: :cloud, link:  nodes_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :red, num: Service.count, what_en: "Services", what_cn: "服务", icon: :server, link:  services_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :warning, num: App.count, what_en: "Applications", what_cn: "应用",  icon: :tasks, link:  nodes_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :danger, num: ServiceTemplate.count, what_en: "Service Template", what_cn: "应用模板",  icon: :copy, link:  service_templates_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :warning, num: Namespace.count, what_en: "Namespace", what_cn: "镜像库",  icon: :copy, link:  namespaces_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :primary, num: Repository.count, what_en: "Namespace", what_cn: "镜像",  icon: :copy, link:  namespaces_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :info, num: Group.count, what_en: "Groups", what_cn: "用户组",  icon: :users, link:  groups_path}

  .col-md-3
    = render :partial => "widgets/info_widget", locals: {color: :red, num: User.count, what_en: "User", what_cn: "用户",  icon: :user, link:  groups_path}

.row.statistics.margin-bottom
  .col-md-12
    = graphna_panel("docker-host", $GRAPHNA_PANEL[:docker_host_cpu_usage][:id], 5.minutes)
  .col-md-12
    = graphna_panel("docker-host", $GRAPHNA_PANEL[:docker_host_mem_usage][:id], 5.minutes)

.row.margin-bottom
  .col-md-12
    = link_to fa_icon(:plus, class: '4x muted'), "", id: "choose_widget_place_holder", class: 'text-center hvr-hollow'
