= box_helper "success" do
  = box_header_helper t("group.all_groups"), ""

  = box_body_helper do
    %ul.nav.nav-pills.nav-stacked
      %li{class:  ''}
        %a{href: groups_path }
          = fa_icon("inbox")
          = t('setting.account')
          %small.label.label-primary.pull-right 1

      %li{class:  ''}
        %a{href: groups_path }
          = fa_icon("inbox")
          = t('setting.group')
          %small.label.label-primary.pull-right 1

      %li{class:  ''}
        %a{href: groups_path }
          = fa_icon("inbox")
          = t('setting.quota')
          %small.label.label-primary.pull-right 1
