.row
  .col-md-4.col-lg-2
    = render :partial => "settings/setting_left"
  .col-md-8.col-lg-10
    = render :partial => "settings/mesos"
    = render :partial => "settings/marathon"
    = render :partial => "settings/docker_pubkey"
    = render :partial => "settings/graphna"
