.small-box{class: "bg-#{color}"}
  .inner
    %h3= num
    %p
      - if session[:locale].to_s == "en"
        = what_en
      - else
        = what_cn
  .icon
    = raw fa_icon(icon)

  = link_to raw("more info" + fa_icon("arrow-circle-right")), link, class: 'small-box-footer'
