#owner_chooser
  .well
    = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    = image_tag current_user.icon.small.try(:url) || "placeholder.png"
    - current_user.groups.each do |group|
      = image_tag group.icon.small.try(:url) || "placeholder.png"
