= panel_table t("common.volumes"), :server do

  %table.table
    %thead
      %tr
        %th= t("node.volume_name")
        %th= t("node.volume_driver")
        %th= t("node.volume_mountpoint")
  
    %tbody
      - node.volumes.each do |volume|
        %tr
          %td= volume.info["Name"]
          %td= volume.info["Driver"]
          %td= volume.info["Mountpoint"]
  
  
