= box_helper "warning" do
  = box_header_helper t("common.detail_info")
  = box_body_helper do
    %dl.dl-horizontal
      %dt= t("common.name")
      %dd= group.name
      %dt= t("common.owner")
      %dd= group.owner.display
      %dt= t("common.created")
      %dd= l(group.created_at)
      %dt= t("common.user_count")
      %dd= group.users.length
      %dt= t("common.service_count")
      %dd= group.services.length

