= box_helper "warning" do
  = simple_form_for(group, multiple: true, class: "form-horizontal") do |f|
    = box_header_helper t("common.detail_info") do
      .box-tools.pull-right
        = f.button :submit, t("common.update_group"), class: primary_btn_helper, data: { confirm: t("group.change_group_confirm") }

    = box_body_helper do
      .col-md-6
        = image_tag group.icon.small.try(:url) || "placeholder.png"
        %label.btn.btn-primary.btn-flat.btn-file{style: 'display: block'}
          = f.input :icon, input_html: { style: "display: none;" }, label: fa_icon(:upload) + " " + t('common.upload_icon')

      .col-md-6
        = f.input :name, label: t("group.name")
        = f.input :desc, as: :text, label: t("group.desc")
