= box_helper "warning" do
  = simple_form_for(group, multiple: true, class: "form-horizontal") do |f|
    = box_header_helper t("common.detail_info") do
      .box-tools.pull-right
        = f.button :submit, t("common.update_group"), class: primary_btn_helper, data: { confirm: t("common.confirm") }

    = box_body_helper do
      = image_tag group.icon.small.try(:url) || "placeholder.png"
      %label.btn.btn-default.btn-file
        = f.input :icon, input_html: { style: "display: none;" }, label: fa_icon(:plus) + " " + t('common.upload_icon')

      %hr
      = f.input :name, label: t("group.name")
      = f.input :desc, as: :text, label: t("group.desc")
