= box_helper "success" do
  = box_header_helper t("common.group_quota") do
    .box-tools.pull-right

  = box_body_helper do
    .row
      .col-md-4.text-center.border-right
        = pie_chart pie_chart_helper(["CPU Used", "CPU Left"], "CPU Usage",group.cpu_used, group.settings(:quota).cpu.to_i - group.cpu_used), { height: 150 }
        %hr
        .row
          = form_tag update_quota_cpu_group_path(group), method: :patch do
            .col-sm-7
              .input-group
                = text_field_tag "value", group.settings(:quota).cpu, class: 'form-control', type: :number
                .input-group-addon CORE
            .col-sm-4.col-sm-offset-1.text-right
              = button_to "#", class: 'btn btn-default col-sm-8 pull-right btn-flat', type: :submit, data: { confirm: t("common.quota_change_confirm") } do
                = fa_icon :check

      .col-md-4.text-center
        = pie_chart pie_chart_helper(["Mem Used", "Mem Left"], "Mem Usage", group.mem_used, group.settings(:quota).mem.to_i - group.mem_used), { height: 150 }
        %hr
        .row
          = form_tag update_quota_mem_group_path(group), method: :patch do
            .col-sm-7
              .input-group
                = text_field_tag "value", group.settings(:quota).mem, class: 'form-control', type: :number
                .input-group-addon M
            .col-sm-4.col-sm-offset-1.text-right
              = button_to "#", class: 'btn btn-default col-sm-8 pull-right btn-flat', type: :submit, data: { confirm: t("common.quota_change_confirm") } do
                = fa_icon :check

      .col-md-4.text-center.border-left
        = pie_chart pie_chart_helper(["Disk Used", "Disk Left"], "Disk Usage", group.disk_used, group.settings(:quota).disk.to_i - group.disk_used), { height: 150 }
        %hr
        .row
          = form_tag update_quota_disk_group_path(group), method: :patch do
            .col-sm-7
              .input-group
                = text_field_tag "value", group.settings(:quota).disk, class: 'form-control', type: :number
                .input-group-addon G
            .col-sm-4.col-sm-offset-1.text-right
              = button_to "#", class: 'btn btn-default col-sm-8 pull-right btn-flat', type: :submit, data: { confirm: t("common.quota_change_confirm") } do
                = fa_icon :check

