= panel_item t("common.group_quota"), :user do
  = form_tag update_quota_group_path(group), class: 'form-inline' do
    = submit_tag  t("common.save"), class: 'btn btn-primary btn-sm pull-right'
    .col-md-4.text-center
      = line_chart @data, { height: 150}
      .form-group
        .input-group
          = text_field_tag "cpu", 1000, class: 'form-control', type: :number
          .input-group-addon CORE

    .col-md-4.text-center
      = bar_chart @data, { height: 150 }
      .form-group
        .input-group
          = text_field_tag "mem", 1000, class: 'form-control', type: :number
          .input-group-addon M

    .col-md-4.text-center
      = pie_chart @data, { height: 150 }
      .form-group
        .input-group
          = text_field_tag "mem", 1000, class: 'form-control', type: :number
          .input-group-addon M

