= link_to fa_icon(:plus) + " " + t("common.new_service"), new_service_path(group_id: group.id), class: 'btn btn-sm btn-primary pull-right'
.clearfix

= panel_table t("common.service"), :cogs do
  %table.table.table-bordered
    %thead
      %td= t("user.name")
      %td= t("user.email")
      %td= t("common.application")

    - group.services.each do |service|
      %tr
        %td= service.name
        %td= service.desc

