= panel_item t("common.service"), :cogs do
  = link_to fa_icon(:plus) + " " + t("common.new_service"), "", class: 'btn btn-sm btn-primary pull-right'
  %table.table.table-bordered.table-stripped
    %thead
      %th= t("user.name")
      %th= t("user.email")
      %th= t("common.application")

    - group.services.each do |service|
      %tr
        %td= service.name
        %td= service.desc

