%h1 Listing registries

%table
  %thead
    %tr
      %th Name
      %th Hash
      %th Size
      %th
      %th
      %th

  %tbody
    - @registries.each do |registry|
      %tr
        %td= registry.name
        %td= registry.hash
        %td= registry.size
        %td= link_to 'Show', registry
        %td= link_to 'Edit', edit_registry_path(registry)
        %td= link_to 'Destroy', registry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Registry', new_registry_path
