%p#notice= notice

%p
  %b Namespace:
  = @project.namespace_id
%p
  %b Dockerfile:
  = @project.dockerfile
%p
  %b User:
  = @project.user_id
%p
  %b Group:
  = @project.group_id
%p
  %b Version format:
  = @project.version_format

= link_to 'Edit', edit_project_path(@project)
\|
= link_to 'Back', projects_path
