- resource_name = resource.class.to_s.tableize.singularize.downcase
= box_helper "success" do
  = box_header_helper t("common.permissions"), :users

  = box_body_helper do
    %table.table
      %tbody
        - permissions.each do |p|
          - next if !p.persisted?
          %tr
            %td
              = image_tag p.accessor.try(:icon).try(:thumb).try(:url) || "placeholder.png", height: 35
              = p.accessor.display
            %td= select_tag :access, options_for_select(permission_access(session[:locale]), p.access), class: 'permission_change', data: { path: send("#{resource_name}_permission_path", resource, p) }
            %td= link_to fa_icon(:remove), send("#{resource_name}_permission_path", resource, p), method: :delete, data: { confirm: t("common.permission_delete_confirm") }

    = simple_form_for permission, url: send("#{resource_name}_permissions_path", resource) do |form|
      = form.input :accessor_type, as: :hidden, input_html: { id: "accessor_type" }
      = form.input :accessor_id, as: :hidden, input_html: { id: "accessor_id" }
      = form.input :resource_type, as: :hidden
      = form.input :resource_id, as: :hidden

      .permission-typeahead.col-md-12
        = text_field_tag :accessor, "", class: 'typeahead', placeholder: t('permission.placeholder'), autocomplete: :off
        = form.submit t("common.create_accessor"), class: 'btn btn-primary'


