.row
  .col-md-4.col-lg-2
    = render :partial => "services/service_left", locals: { service: @service }
  .col-md-8.col-lg-10
    = panel_table t("common.permissons"), :server do
      %table.table
        %tbody
          - @permissions.each do |p|
            %tr
              %td
                = image_tag p.accessor.icon.thumb.try(:url)
                = p.accessor.display
              %td= select_tag :access, options_for_select(Permission.accesses.keys, p.access)
              %td= link_to fa_icon(:remove), service_permission_path(@service, p), method: :delete, data: { confirm: t("common.confirm") }

    = form_tag "", class: 'form-inline' do
      = text_field_tag :accessor, "", class: 'form-control typeahead', placeholder: 'eg. Group Name or User Name'
      = hidden_field_tag :accessor_type, id: "accessor_type"
      = hidden_field_tag :accessor_id, id: "accessor_id"
      = hidden_field_tag :resource_type, @resource.class.to_s
      = hidden_field_tag :resource_id, @resource.id
      = submit_tag "Add Accessor", class: 'btn btn-primary'
