.row
  .col-md-4.col-lg-2
    = render :partial => "services/service_left", locals: { service: @service }
  .col-md-8.col-lg-10
    = panel_table t("common.permissons"), :server do
      %table.table
        %tbody
          - @permissions.each do |p|
            - next if !p.persisted?
            %tr
              %td
                = image_tag p.accessor.icon.thumb.try(:url)
                = p.accessor.display
              %td= select_tag :access, options_for_select(Permission.accesses.keys, p.access)
              %td= link_to fa_icon(:remove), service_permission_path(@service, p), method: :delete, data: { confirm: t("common.confirm") }

    = simple_form_for @permission, url: service_permissions_path(@service), class: 'form-inline' do |form|
      = text_field_tag :accessor, "", class: 'form-control typeahead', placeholder: 'eg. Group Name or User Name'
      = form.input :accessor_type, as: :hidden, input_html: { id: "accessor_type" }
      = form.input :accessor_id, as: :hidden, input_html: { id: "accessor_id" }
      = form.input :resource_type, as: :hidden
      = form.input :resource_id, as: :hidden

      = form.submit t("common.create_accessor"), class: 'btn btn-primary'
