= box_helper "green" do
  = simple_form_for(@namespace) do |form|
    = box_header_helper "", :server do
      .box-tools.pull-right
        = form.submit t("common.submit"), class: 'btn btn-danger btn-sm btn-flat'
        = link_to t("common.cancel"), namespaces_path, class: 'btn btn-success btn-sm btn-flat'

    = box_body_helper do
      = form.input :name, label: t("namespace.name"), hint: "eg. library"

      = hidden_field_tag "owner_type", params[:owner_type]
      = hidden_field_tag "owner_id", params[:owner_id]

