= simple_form_for(@namespace) do |form|
  = form.input :name, label: t("namespace.name"), hint: "eg. library"

  = hidden_field_tag "owner_type", params[:owner_type]
  = hidden_field_tag "owner_id", params[:owner_id]

  .actions
    = form.submit t("common.submit"), class: btn_classes
    = link_to t("common.cancel"), namespaces_path
