= link_to fa_icon(:plus) + " " + t('common.new_namespace'), new_namespace_path, class: primary_btn_helper(['btn-block', 'margin-bottom']), data: { prompt: { title: t("common.new_namespace"), name: "owner", type: "choose_owner"} }, method: :get
= box_helper "solid" do
  = box_header_helper t("namespace.all_namespaces"), :cogs

  = box_body_helper do
    %ul.nav.nav-pills.nav-stacked
      - namespaces.each do |namespace|
        %li{class: namespace == @namespace ? 'active' : ''}
          %a{href: namespace_path(namespace) }
            = fa_icon("inbox")
            = namespace.name
            %small.label.label-primary.pull-right= namespace.repositories.count
            %small.label.label-success.pull-right= namespace.projects.count
