.row
  .col-md-3
    = render :partial => "namespaces/namespace_left", locals: { namespaces: @namespaces }
  .col-md-9
    = box_helper "warning" do
      = box_header_helper t("namespace.repositories"), :server
      = box_body_helper do
        = render :partial => "widgets/list_place_holder" if @namespaces.empty?
        - if @namespaces.first.present?
          %table.table
            %thead
              %th= t("namespace.repository_name")
              %th= t("namespace.repo_tags")

            %tbody
              - @namespaces.first.repositories.each do |repository|
                %tr
                  %td= repository.name
                  %td
                    - repository.repo_tags.each do |repo_tag|
                      = link_to repo_tag.name, "", class: 'btn btn-flat btn-sm btn-warning'

      .margin-bottom

    = render :partial => "permissions/list", locals: { permissions: @namespaces.first.permissions, permission: @namespaces.first.permissions.new, resource: @namespaces.first }

