.row
  .col-md-3
    = render :partial => "namespaces/namespace_left", locals: { namespaces: @namespaces }
  .col-md-9
    = box_helper "success" do
      = box_header_helper t('namespace.pull_image'), :server do
        .box-tool.pull-right
          = link_to t('namespace.remove_tag'), namespace_repository_repo_tag_path(@namespace, @repository, @repo_tag), method: :delete, class: danger_btn_helper, data: { confirm: t("namespace.delete_confirm") }
      = box_body_helper do
        .input-group
          - id =  "copy_#{@repository.name.gsub('/', '')}_#{@repo_tag.name}"
          = text_field_tag "", "docker pull " + Site.default.registry_domain + "/" + @repo_tag.repository.name + ":" + @repo_tag.name, id: id, class: 'form-control'
          %span.btn.input-group-addon{data: { 'clipboard-target': id }}
            = fa_icon(:copy)

    = box_helper "danger" do
      = box_header_helper t('namespace.vulnerabilities'), :server do
        .box-tool.pull-right
          = link_to t('namespace.rescan'), vulnerabilities_check_namespace_repository_repo_tag_path(@namespace, @repository, @repo_tag), method: :put, class: danger_btn_helper, data: { confirm: t("namespace.rescan_confirm") }
      = box_body_helper do
        %table.table
          %thead
            %th CVE
            %th= t("namespace.severity")
            %th= t("namespace.feature")
            %th= t("namespace.version")
            %th= t("namespace.namespace")
            %th= t("namespace.fixed_by")
            %th= t("namespace.added_by")

          %tbody
            - @repo_tag.strip_vulnerabilities.sort_by{|v| ["High", "Medium", "Low", "Negligible", "Unkown"].index(v.Severity) || 10000 }.each do |v|
              %tr
                %td= link_to v.Name, v.Link, target: '_blank'
                %td= vuln_serverity(v.Severity)
                %td
                  %strong= v.FeatureName
                %td= v.Version
                %td= v.NamespaceName
                %td= v.FixedBy
                %td= v.AddedBy


    .delay_dom{ data: { 'delay-path': manifest_blob_page_namespace_repository_repo_tag_path(@namespace, @repository, @repo_tag)}} 
      = render :partial => "widgets/loading"

