.row
  .col-md-3
    = render :partial => "namespaces/namespace_left", locals: { namespaces: @namespaces }
  .col-md-9
    = box_helper "warning" do
      = box_header_helper "", :server do
        .box-tool.pull-right
          = link_to t('common.remove'), namespace_repository_repo_tag_path(@namespace, @repository, @repo_tag), method: :delete, class: danger_btn_helper, data: { confirm: t("common.remove") }
      = box_body_helper do
        .input-group
          - id =  "copy_#{@repository.name.gsub('/', '')}_#{@repo_tag.name}"
          = text_field_tag "", "docker pull " + Site.default.registry_domain + "/" + @repo_tag.repository.name + ":" + @repo_tag.name, id: id, class: 'form-control'
          %span.btn.input-group-addon{data: { 'clipboard-target': id }}
            = fa_icon(:copy)

    = box_helper "warning" do
      = box_header_helper t("namespace.repositories") + @repo_tag.name, :server
      = box_body_helper do
        - hash = {}.tap do |hash| hash["Digest"] = @manifest[0]; hash["mediaType"] = @manifest[2]["mediaType"]; hash["Size"] = @manifest[2]["config"]["size"] end
        = info_show_helper hash
        = info_show_helper @blob[2] if  @blob


        %table.table
          %thead
            %th= t("namespace.digest")
            %th= t("namespace.size")

          %tbody
            - @manifest[2]["layers"].each_with_index do |layer, index|
              %tr
                %td= layer["digest"]
                %td= number_to_human_size layer["size"]
                %td= link_to "check", vulnerabilities_check_namespace_repository_repo_tag_path(@namespace, @repository, @repo_tag, layer: layer["digest"], parent_layer: @manifest[2]["layers"][index+1].try(:fetch, "digest")), method: :put, data: { confirm: "check" }, class: danger_btn_helper

