- if marathon_app
  - if marathon_app.info[:tasksRunning]
    %span.text-muted= t("app.running")
    %strong= marathon_app.info[:tasksRunning]

  - if marathon_app.info[:tasksStaged]
    %span.text-muted= t("app.staged")
    %strong= marathon_app.info[:tasksStaged]

  - if marathon_app.info[:tasksHealthy]
    %span.text-muted= t("app.healthy")
    %strong= marathon_app.info[:tasksHealthy]

  - if marathon_app.info[:tasksUnhealthy]
    %span.text-muted= t("app.unhealthy")
    %strong= marathon_app.info[:tasksUnhealthy]


  %br
    = link_to t("app.scale"), scale_service_app_path(service, app), method: :put, remote: :true, data: { prompt: {"title": t("common.scale_app"), "name": "scale_size", "value": 1, "type": "input"} }
    = link_to t("app.stop"), stop_service_app_path(service, app), method: :put, remote: :true, data: { confirm: t("common.delete_confirm")}
    = link_to t("app.restart"), restart_service_app_path(service, app), method: :put, remote: :true, data: { confirm: t("common.restart_confirm") }
    - if app.versions.length > 1
      = link_to t("app.update_version"), change_service_app_path(service, app), method: :put, remote: true, data: { prompt: {title: t("common.update_version"), name: "version_id", value: (app.versions - [app.current_version]).reduce({}){|r, v| r[v.name] = v.id; r}.to_query, type: "select" } }

- else
  = link_to fa_icon(:play, class: "fa-2x"), run_service_app_path(service, app), method: :put, remote: true, data: { prompt: {"title": t("common.start_app"), "name": "start_size", "value": 1, "type": "input"} }

