- if marathon_app
  - if marathon_app.info[:tasksRunning]
    %span.text-muted= t("app.running")
    %strong= marathon_app.info[:tasksRunning]

  - if marathon_app.info[:tasksStaged]
    %span.text-muted= t("app.staged")
    %strong= marathon_app.info[:tasksStaged]

  - if marathon_app.info[:tasksHealthy]
    %span.text-muted= t("app.healthy")
    %strong= marathon_app.info[:tasksHealthy]

  - if marathon_app.info[:tasksUnhealthy]
    %span.text-muted= t("app.unhealthy")
    %strong= marathon_app.info[:tasksUnhealthy]


  %br
    = link_to t("app.scale"), scale_service_app_path(service, app), method: :put, remote: :true, data: { prompt: {"title": t("common.scale_app"), "name": "scale_size", "value": 1, "type": "input"} }
    = link_to t("app.stop"), stop_service_app_path(service, app), method: :put, remote: :true, data: { confirm: t("common.delete_confirm")}
    = link_to t("app.restart"), restart_service_app_path(service, app), method: :put, remote: :true, data: { confirm: t("common.restart_confirm") }
    = link_to t("app.rollback"), rollback_service_app_path(service, app), method: :put, remote: :true

- else
  = link_to fa_icon(:play, class: "fa-2x"), run_service_app_path(service, app), method: :put, remote: true, data: { prompt: {"title": t("common.start_app"), "name": "start_size", "value": 1, "type": "input"} }

