<%= content_for :custom_assets do %>
  <%= javascript_include_tag :angularjs %>
<% end %>

<%= javascript_tag do %>
  var appObj = JSON.parse('<%= @app.attributes.except(*App::PROTECTED_ATTRIBUTES).to_json.html_safe%>');

  var appLinks = JSON.parse('<%= @app_links.map{|al| al.attributes.slice("output_app_id", "alias", "id")}.to_json.html_safe%>');
  appLinks.forEach(function(link){ link['_destroy'] = 0;})
  appObj.app_links = appLinks;

  var appsUnderService = JSON.parse('<%= Hash[@service.apps.select(&:persisted?).map{|a| [a.name, a.id] }].to_json.html_safe%>');
  var webservicesUnderApp = JSON.parse('<%= Hash[@service.apps.select(&:persisted?).map{|a| [a.id, Hash[a.portmappings.pluck("name", "servicePort")]] }].to_json.html_safe%>');
  $('#appTab a:first').tab('show');

  var locale = '<%= session[:locale] %>';
  <% if @persisted %>
    var appPersisted = true;
    var postPath = "/services/" +  "<%= @service.id %>" + "/apps/" + <%= @app.id %>;
    var httpMethod = "put";
  <% else %>
    var appPersisted = false;
    var postPath = "/services/" +  "<%= @service.id %>" + "/apps";
    var httpMethod = "post";
  <% end %>
<% end %>

<div ng-app="app">
  <div class='row' ng-controller='AppController'>
    <form class="form-horizontal" name="appForm" ng-submit="submit()">
      <div class='box'>
        <div class="box-header with-border">
          <h4 class="box-title"><%= fa_icon(:copy) %> <%= t("app.app_form_title") %> </h4>
          <div class="box-tools pull-right">
            <button type="submit" class="btn btn-sm btn-danger btn-flat"><%= t('common.save') %></button>
            <%= link_to t("common.cancel"), services_path, class: 'btn btn-sm btn-success btn-flat' %>
          </div>
        </div>
        <div class="box-body">
          <div class="form_section col-md-12">
            <div class="form-group" ng-class="{ 'has-error' : appForm.name.$invalid && (appForm.name.$dirty || submitted)}" >
              <label for="name" class="col-sm-2 control-label"><%= t("app.name") %></label>
              <div class="col-sm-10">
                <input type="input" name="name" class="form-control" id="name" ng-model="app.name" ng-required="true" ng-disabled="appPersisted">
                <p ng-show="appForm.name.$invalid && (appForm.name.$dirty || submitted)" class="help-block">required.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : appForm.desc.$invalid && (appForm.desc.$dirty || submitted)}" >
              <label for="desc" class="col-sm-2 control-label"><%= t("app.desc") %></label>
              <div class="col-sm-10">
                <input type="input" name="desc" class="form-control" id="desc" ng-model="app.desc" ng-required="true" >
                <p ng-show="appForm.desc.$invalid && (appForm.desc.$dirty || submitted)" class="help-block">required</p>
              </div>
            </div>


            <div class="form-group" ng-class="{ 'has-error' : appForm.image.$invalid && (appForm.image.$dirty || submitted)}" >
              <label for="image" class="col-sm-2 control-label"><%= t("app.select_image") %></label>
              <div class="col-sm-10">
                <input type="input" name="image" class="form-control" id="image" ng-model="app.image" ng-required='true'>
                <p ng-show="appForm.image.$invalid && (appForm.image.$dirty || submitted)" class="help-block">required</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : appForm.cpu.$invalid && (appForm.cpu.$dirty || submitted)}" >
              <label for="cpu" class="col-sm-2 control-label"><%= t("active_record.common.cpu") %></label>
              <div class="col-sm-10">
                <input type="float" name="cpu" class="form-control" id="cpu" ng-model="app.cpu" ng-required="true">
                <p ng-show="appForm.cpu.$invalid && (appForm.cpu.$dirty || submitted)" class="help-block">required</p>
              </div>
            </div>
            
            <div class="form-group" ng-class="{ 'has-error' : appForm.mem.$invalid && (appForm.mem.$dirty || submitted)}" >
              <label for="mem" class="col-sm-2 control-label"><%= t("active_record.common.mem") %></label>
              <div class="col-sm-10">
                <input type="number" name="mem" class="form-control" id="mem" ng-model="app.mem" ng-required="true">
                <p ng-show="appForm.mem.$invalid && (appForm.mem.$dirty || submitted)" class="help-block">required</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : appForm.disk.$invalid && (appForm.disk.$dirty || submitted)}" >
              <label for="disk" class="col-sm-2 control-label"><%= t("active_record.common.disk") %></label>
              <div class="col-sm-10">
                <input type="number" name="disk" class="form-control" id="disk" ng-model="app.disk" ng-required="true">
                <p ng-show="appForm.disk.$invalid && (appForm.disk.$dirty || submitted)" class="help-block">required</p>
              </div>
            </div>
            

            <!--
            <div class="form-group" ng-class="{ 'has-error' : appForm.network.$invalid && (appForm.network.$dirty || submitted)}" >
              <label for="network" class="col-sm-2 control-label"><%= t("app.network") %></label>
              <div class="col-sm-10">
                <label><input value="bridge" type="radio" name="network" ng-model="app.network" /><%= t("app.bridge") %></label>
                <label><input value="host" type="radio" name="network" ng-model="app.network" /><%= t("app.host") %></label>
              </div>
            </div>
            -->

            <div class="form-group" ng-class="{ 'has-error' : portMappingHasError() }" ng-show="app.network == 'bridge' || app.network == 'host'">
              <label for="portmappings" class="col-sm-2 control-label"><%= t("app.portmappings") %></label>
              <div class="col-sm-10">
                <table class="table table-bordered col-md-6 col-sm-12">
                  <tr>
                    <th><%= t('app.port_name') %></td>
                    <th><%= t('app.container_port') %></td>
                    <th><%= t('app.service_port') %></td>
                    <th><%= t('app.proto') %></td>
                    <th></td>
                  </tr>
                  <tbody>
                    <tr  ng-repeat="portmapping in app.portmappings">
                      <td>
                        <input type="input" class="form-control" name="portmapping_{{$index}}_name" ng-model="portmapping.name" ng-required=true>
                        <p ng-show="appForm.portmapping_{{$index}}_name.$invalid && (appForm.portmapping_{{$index}}_name.$dirty || submitted)" class="help-block">required</p>
                      </td>
                      <td>
                        <input type="number" class="form-control"  name="portmapping_{{$index}}_containerPort"  ng-model="portmapping.containerPort" ng-required=true>
                        <p ng-show="appForm.portmapping_{{$index}}_containerPort.$invalid && (appForm.portmapping_{{$index}}_containerPort.$dirty || submitted)" class="help-block">required</p>
                      </td>
                      <td>
                        <input type="number" class="form-control" name="portmapping_{{$index}}_servicePort" ng-model="portmapping.servicePort" ng-required=true>
                        <p ng-show="appForm.portmapping_{{$index}}_servicePort.$invalid && (appForm.portmapping_{{$index}}_servicePort.$dirty || submitted)" class="help-block">required</p>
                      </td>
                      <td>
                        <select class='form-control app-select' ng-model='portmapping.proto' ng-required=true>
                          <option value="tcp"> TCP </option>
                          <option value="udp"> UDP </option>
                        </select>
                      </td>
                      <td><a class="btn btn-default btn-sm" ng-click="removePortmapping($index)" ng-if="$index != 0"><%= fa_icon(:minus)%> </a></td>
                    </tr>
                    <tr>
                      <td colspan=5><a class="btn btn-default btn-sm" ng-click="morePortmapping()"><%= fa_icon(:plus)%> <%= t('app.add_portmapping') %> </a></td>
                    </tr>
                  </tbody>
                </table>
                <p ng-show="appForm.portmappings.$invalid && (appForm.portmappings.$dirty || submitted)" class="help-block">You name is required.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : false }" ng-show="Object.keys(appsUnderService).length != 0">
              <label for="app_links" class="col-sm-2 control-label"><%= t("app.app_links") %></label>
              <div class="col-sm-10">
                <table class="table table-bordered col-md-6 col-sm-12">
                  <tr>
                    <th><%= t('app.link_alias') %></td>
                    <th><%= t('app.link_output') %></td>
                    <th><%= t('app.link_output_service') %></td>
                    <th><%= t('app.accessible_through') %></td>
                    <th></td>
                  </tr>
                  <tbody>
                    <tr ng-repeat="link in app.app_links | filter: {_destroy: 0}">
                      <td>
                        <input type="input" class="form-control" name="appForm.app_links_{{$index}}_alias" ng-model="link.alias" ng-required=true>
                        <p ng-show="appForm.app_links_{{$index}}_alias.$invalid && (appForm.app_links_{{$index}}_alias.$dirty || submitted)" class="help-block">required</p>
                      </td>
                      <td>
                        <select class='form-control app-select' ng-model='link.output_app_id' required="required" ng-options="v as k for (k, v) in appsUnderService" > </select>
                      </td>
                      <td>
                        <select class='form-control app-select' ng-model='link.output_service' required="required" ng-options="name as name for (name, serviceName) in webservicesUnderApp[link.output_app_id]" > </select>
                      </td>
                      <td>
                        {{link.alias}}:{{webservicesUnderApp[link.output_app_id][link.output_service]}}
                      </td>
                      <td><a class="btn btn-default btn-sm" ng-click="removeLink($index)"><%= fa_icon(:minus)%> </a></td>
                    </tr>
                    <tr>
                      <td colspan=5><a class="btn btn-default btn-sm" ng-click="moreLink()"><%= fa_icon(:plus)%> <%= t('app.add_link') %> </a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>

          </div>

          <hr>

          <div class='form_section col-md-12'>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" id='appTab'>
              <li role="presentation" class="active"><a href="#command" aria-controls="command" role="tab" data-toggle="tab"><%= t('service.command') %></a></li>
              <li role="presentation"><a href="#volumes" aria-controls="volumes" role="tab" data-toggle="tab"><%= t('service.volumes') %></a></li>
              <li role="presentation"><a href="#uri" aria-controls="uri" role="tab" data-toggle="tab"><%= t('service.uri') %></a></li>
              <li role="presentation"><a href="#labels" aria-controls="labels" role="tab" data-toggle="tab"><%= t('service.labels') %></a></li>
              <li role="presentation"><a href="#health_check" aria-controls="health_check" role="tab" data-toggle="tab"><%= t('service.health_check') %></a></li>
              <li role="presentation"><a href="#scheduling" aria-controls="scheduling" role="tab" data-toggle="tab"><%= t('service.scheduling') %></a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="command">
                <%= render partial: 'apps/form/command' %>
              </div>

              <div role="tabpanel" class="tab-pane" id="volumes">
                <%= render partial: 'apps/form/volumes' %>
              </div>

              <div role="tabpanel" class="tab-pane" id="uri">
                <%= render partial: 'apps/form/uri' %>
              </div>

              <div role="tabpanel" class="tab-pane" id="labels">
                <%= render partial: 'apps/form/labels' %>
              </div>

              <div role="tabpanel" class="tab-pane" id="health_check">
                <%= render partial: 'apps/form/health_check' %>
              </div>

              <div role="tabpanel" class="tab-pane" id="scheduling">
                <%= render partial: 'apps/form/scheduling' %>
              </div>
            </div>
          </div>

          <div class="form-group text-center">
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

                      <td> <input type="input" class="form-control" ng-model="link.alias"> </td>
