
= box_helper "success" do
  = box_header_helper t("system.marathon_detail"), "server" do
    .box-tools.pull-right
      = link_to fa_icon("copy"), Site.default.marathon_leader_url + "info", target: "_blank"
  = box_body_helper do
    = info_show_helper @info.to_hash


= box_helper "success" do
  = box_header_helper t("system.marathon_apps"), "server"
  = box_body_helper do
    %table.table
      %thead
        %th ID
        %th CPU
        %th Mem
        %th Disk
        %th= t('system.marathon_running_instances')
        %th= t('system.marathon_health')

      %tbody
        - @apps.each do |app|
          %tr
            %td= app.info[:id]
            %td= app.info[:cpus]
            %td= app.info[:mem]
            %td= app.info[:disk]
            %td= app.info[:instances]

