= box_helper "success" do
  = simple_form_for Site.default, url: update_registry_domain_config_path, remote: true do |form|
    = box_header_helper t("system.registry_domain"), :cog do
      .box-tools.pull-right
        = form.submit t("common.update_btn"), class: primary_btn_helper

    = box_body_helper do
      = form.input :registry_domain, label: t("system.registry_domain")
