= box_helper "solid" do
  = box_header_helper t("system.all_components"), "" do
    .box-tools.pull-right
      = button_tag class: 'btn btn-box-tool', data: { widget: 'collapse' } do
        = fa_icon(:plus)

  = box_body_helper do
    %ul.nav.nav-pills.nav-stacked
      %li
        %a{href: mesos_path(), class: controller_name.to_s == "mesos" ? 'active' : ""}
          = fa_icon("inbox")
          Mesos

      %li
        %a{href: marathon_path(), class: controller_name.to_s == "marathon" ? 'active' : "" }
          = fa_icon("inbox")
          Marathon

      %li
        %a{href: graphna_stats_path(), class: controller_name.to_s == "graphna" ? 'active' : "" }
          = fa_icon("inbox")
          Graphna

      %li
        %a{href: graphna_stats_path(), class: controller_name.to_s == "graphna" ? 'active' : "" }
          = fa_icon("inbox")
          Registry
