= box_helper "success" do
  = box_header_helper t("system.mesos_slaves"), "server" do
    .box-tools.pull-right
      = button_tag class: 'btn btn-box-tool', data: { widget: 'collapse' } do
        = fa_icon(:plus)

  = box_body_helper do
    %table.table
      %thead
        %td= t("system.component")
        %td= t("system.health")
        %td= t("system.last_seen")
      %tbody
        %tr
          %td Mesos
          %td 健康
          %td 1 小时以前

        %tr
          %td Mesos
          %td 健康
          %td 1 小时以前

        %tr
          %td Mesos
          %td 健康
          %td 1 小时以前


= render :partial => "system/mesos"
- if Site.default.backend_option == "marathon"
  = render :partial => "system/marathon"

- if Site.default.backend_option == "swan"
  = render :partial => "system/swan"
= render :partial => "system/graphna"

= render :partial => "system/registry"

= render :partial => "system/domain"
