= panel_item(t("common.audits_on_app"), "info") do
  %table{class: table_classes}
    %thead
      %td= t("common.when")
      %td= t("common.who")
      %td= t("common.did_what")
      %td= t("common.path")
      %td

    %tbody
      - audits.each do |audit|
        %tr
          %td= audit.when
          %td= audit.when
          %td= audit.when
          %td= audit.when



