= panel_item(t("common.detail_info"), "cogs") do
  %dl.dl-horizontal
    %dt=t("app.name")
    %dd= app.name

    %dt=t("app.cpu")
    %dd= app.cpu

    %dt=t("app.mem")
    %dd= app.mem

    %dt=t("app.disk")
    %dd= app.disk


