= panel_table t("common.images"), :server do
  %table.table.table-bordered
    %thead
      %tr
        %th ID
        %th= t("image.tags")
        %th= t("image.size")
        %th= t("image.created")
  
    %tbody
      - node.images.each do |image|
        %tr
          %td= link_to truncate(image.info['id'], length: 30), node_image_path(node, id: image.info['id'])
          %td
            - image.info['RepoTags'].each do |tag|
              %label.label.label-primary= tag
          %td= number_to_human_size image.info['Size']
          %td= Time.at image.info['Created']



