= panel_item "标签", :cc do
  = link_to "xx", ""


= panel_item "详情", :copy do
  %table.table.table-stripped
    %tr
      %td ID
      %td= @image.id

    %tr
      %td 大小
      %td= number_to_human_size @image.info["Size"]

    %tr
      %td 创建时间
      %td= @image.info["Created"]

    %tr
      %td Build
      %td= number_to_human_size @image.info["Size"]


    %tr
      %td 作者
      %td= number_to_human_size @image.info["Size"]













